{% extends 'partials/base.html' %}
{% block title %} Orders {% endblock %}

{% block content %}
    
    <!-- table -->
    <div class="container">

        {% include 'partials/topnav.html' %}

        <div class="row ">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8 mt-3">
                <table class="table dark-color">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order By</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for purchase in order %}
                        <tr>
                            <td>{{purchase.product}}</td>
                            <td>{{purchase.product.category}}</td>
                            <td>{{purchase.order_quantity}}</td>
                            <td>
                                {{purchase.staff}}
                            </td>
                            <td>{{purchase.date}}</td>

                        </tr>
                        {% endfor %}    
                    </tbody>
                    

                  </table>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>        
    </div>
    <!-- table ends  -->


{% endblock %}