<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body d-grid">
                    <div class="btn btn-info text-white">Make Request</div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Order Records
                </div>
                <div class="card-body">
                    <table class="table dark-color">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>
                                  10 
                                </td>
                            </tr>
                            <tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>
                                  10
    
                                </td>
                            </tr>
                            <tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>
                                    10
    
                                </td>
                            </tr>
                            <tr>
                               
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>
                                    10
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>