{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
    

    <!-- table -->
    <div class="container">

        {% include 'partials/topnav.html' %}

        <div class="row my-4">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table dark-color">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col" class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worker in workers %}
                        <tr>
                            <th scope="row">
                               <a href="{% url 'dashboard-staff-detail' worker.id%}"><div class="btn btn-info text-black btn-sm">View</div></a> 
                            </th>
                            <td>{{worker.username}}</td>
                            <td>{{worker.profile.phone}}</td>
                            <td class="text-center">{{worker.email}}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-md-2"></div>

        </div>        
    </div>
    <!-- table ends  -->



{% endblock %}