{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
    

    <!-- table -->
    <div class="container">

        {% include 'partials/topnav.html' %}

        <div class="row my-4">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table dark-color">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">First</th>
                            <th scope="col">Phone</th>
                            <th scope="col" class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <div class="btn btn-info text-black btn-sm">View</div>
                            </th>
                            <td>Ofor</td>
                            <td>08100608127</td>
                            <td class="text-center">ucheofor2015@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="btn btn-info text-black btn-sm">View</div>
                            </th>
                            <td>Uchenna</td>
                            <td>09011854740</td>
                            <td class="text-center">ucheofor2013@yahoo.com</td>
                        </tr>
                        
                    </tbody>
                  </table>
            </div>
            <div class="col-md-2"></div>

        </div>        
    </div>
    <!-- table ends  -->



{% endblock %}