{% load crispy_forms_tags%}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card-body border border-3 rounded p-3 mb-3">
                <marquee behavior="" direction="">
                    <h3 class="my-4">
                        This is the User/Staff Interface
                    </h3> 
                </marquee>
            </div>
        </div>
        <div class="col-lg-4 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    Make Request
                </div>
                <div class="card-body ">
                    <form method="POST" class="d-grid rounded">
                        {%csrf_token%}
                        {{forms | crispy}}
                        <input class="btn btn-info text-white mt-3" type="submit" value="Make Request">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-3">
            <div class="card">
                <div class="card-header">
                    Order Records
                </div>
                <div class="card-body">
                    <table class="table dark-color">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %} 
                            {% if order.staff == user %}
                            <tr>
                                <td>{{order.product}}</td>
                                <td>{{order.product.category}}</td>
                                <td>
                                  {{order.order_quantity}} 
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>