{% extends 'partials/base.html' %}

{% block title %} Sign Up {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

   <div class="container">
        
        <div class="row mt-5 ">
            <div class="col-md-6 offset-md-3 mb-3 dark-color p-0">
               
                <div class="bg-white">
                    <div class="card">
                        <div class="card-header text-center bg-info">
                            <h3>Registration Page</h3>
                        </div>

                        <div class="card-body">
                            <form class=" d-grid" method="post" action="">
                                {%csrf_token%}
                                {{form | crispy}}
                                <input class="btn btn-success mt-4" type="submit" value ='Register'>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}